Advanced Scripting Bots - Current/Iron Miner V2/Password.ini
Advanced Scripting Bots - Current/Iron Miner V2/Variables.ini
Advanced Scripting Bots - Current/Iron Miner V2/Variables.ini
Advanced Scripting Bots - Current/Iron Miner V2/Variables.ini
